.Landing-page{
    width: 1440px;
    height: 6233px;
    padding: 0px 48px;
    background-color: #FFFFFF;
}

.header-content{
    background-color: #2419F30F;
    width: 1440px;
    height: 55px;
    border: 1px solid black;
    border-radius: 12px;

}

.header-content span{
    margin: 10px;
    color: #000000;
    font-weight: bold;
    line-height: 3;
    font-size: 17px;
    padding: 2px;
}

.header-content span:hover{
    cursor: pointer;
    border: 1px solid rgb(77, 1, 1);
}

#logo{
    margin-left: 400px;
    font-size: 42px;
    line-height: 0;
    padding: 0;
    font-family: cursive;
}

#logo:hover{
    cursor: pointer;
    border: 1px solid black;
}

#contact{
    margin-left: 500px;
}

.main-body{
    line-height: 1;
    font-size: 60px;
    text-align: center;
}

.main-body h1{
    border: 2px solid black;
}

.main-body-image img{
    width: 1344px;
    height: 672px;
    border: 1px solid black;
    margin-bottom: 15px;
}

.personal-agency{
    width: 1344px;
    height: 1191px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.personal-agency .photos{
    width: 1344px;
    height: 429px;
    margin-left: 45px;
}

.personal-agency .photos img{
    width: 416px;
    height: 277px;
    margin: 2px;
}